.notification {
    position: absolute;
    top: 56px;
    right: -400px;

    margin: 20px;
    .container {
        text-align: center;
        font-size: 16px;
        border: 2px solid;
        border-radius: 6px;
        padding: 10px 40px;
    }
}