.popup {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    max-width: 800px;
    width: 100%;
    .container {
        padding: 20px;
        .title {
            font-size: 48px;
        }
        .text {
            font-weight: 300;
            margin-bottom: 20px;
        }
        form {
            input {
                font-family: inherit;
                font-size: 16px;
                border: 2px solid;
                border-radius: 6px;
                background: transparent;
                outline: none;
                padding: 10px 40px;
                cursor: pointer;
                transition: 0.1s;
                &:hover {
                    opacity: 0.5;
                }
            }
        }
    }
}